<h2><%=@screen_name%> blocks <%=@blocking.length%> users:</h2>
<% for user in @blocking %>
    <p>
        <div style="float:left;"><%= image_tag user.profile_image_url %></div>@<%=user.screen_name%>
        <br clear="all"/>
    </p>
<% end %>